@CHARSET "ISO-8859-1";
.categories{
  float:right;
  border:1px solid #ccc;
  padding:5px;
  font-family:Arial;
}
.categories > span{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background:#1c65ed;
  padding:5px;
  padding-right: 30px;
  margin:4px;
}
.categories > span:after {
	position:absolute;
 content:"×";
 border:1px solid;
 padding:2px 5px;
 margin-left:5px;
 font-size:11px;
}
.categories > span:hover{
  opacity:0.7;
}
.categories > input{
  background:#eee;
  border:0;
  margin:4px;
  margin-top: 6px;
  padding:5px;
  width:auto;
}
.category-title{
	text-align: center;
}